.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
}

.CoverImage {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
  }