.BCEvent {
    background-color: #fafafa;
    border: 1px solid #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.BCEventBar {
    margin-top: 15px;
    padding-top: 8px;
    border-top: 1px solid #fff;
}

.BCEvent figure,
h5 {
    margin: 0 0;
}

.BCEventInf {
    color: #3a3a3a;
}

.BCEventIcons:hover {
    cursor: default;
    color: #8d2b00;
}

.BCListHeader {
    background-color: #8d2b00;
    color: #fafafa;
}

.Heading {
    color: #8d2b00;
    font-weight: bold;
}

.OwnEvent:hover {
    color: #3a3a3a;
}

.Responded {
    color: #8d2b00;
}

.RemovedResp {
    color: #3a3a3a;
}

.Button {
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: #8d2b00;
    border-radius: 100px;
    border-color: #8d2b00;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
    background-color: #8d2b00;
}

.Button:hover:active {
    background-color: #8d2b00 !important;
}

.Button:active {
    background-color: #8d2b00 !important;
    border-style: none;
}

.Button:focus {
    background-color: #8d2b00;
    border-style: none;
}

.Modal {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #030303
}