.Button {
    font-size: 135%;
    text-transform: uppercase;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 10px 15px;
    min-width: 80px;
    background-color: #8d2b00;
    color: #fafafa;
    margin-top: 15px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
    background-color: #8d2b00;
}

Button:hover:active {
    background-color: #8d2b00 !important;
}

Button:active {
    background-color: #8d2b00 !important;
    border-style: none;
}

.Button:focus {
    background-color: #8d2b00;
    border-style: none;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}