.Button {
    font-size: 100%;
    text-transform: uppercase;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 10px 15px;
    min-width: 80px;
    background-color: #8d2b00;
    color: #fafafa;
    margin-top: 15px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
    background-color: #8d2b00;
}

.Button:hover:active {
    background-color: #8d2b00 !important;
}

.Button:active {
    background-color: #8d2b00 !important;
    border-style: none;
}

.Button:focus {
    background-color: #8d2b00;
    border-style: none;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.PostButton {
    font-size: 135%;
    text-transform: uppercase;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 8px 12px;
    min-width: 80px;
    background-color: #8d2b00;
    color: #fafafa;
    margin-top: 15px;
    margin-right: 5px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.PostButton:hover {
    background-color: #8d2b00;
    color: #fafafa;
    border-color: #8d2b00;
}

.PostButton:hover:active {
    background-color: #8d2b00 !important;
    border-color: #8d2b00;
}

.PostButton:active {
    background-color: #8d2b00 !important;
    border-style: none;
    border-color: #8d2b00;
}

.PostButton:focus {
    background-color: #8d2b00;
    border-style: none;
    border-color: #8d2b00;
}

.EventButton {
    font-size: 75%;
    text-transform: uppercase;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 6px 10px;
    width: 110px;
    margin-bottom: 30px;
    background-color: #8d2b00;
    color: #fafafa;
    border-bottom: 15px;
    margin-right: 5px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.EventButton:hover {
    background-color: #8d2b00;
    color: #fafafa;
    border-color: #8d2b00;
}

.EventButton:hover:active {
    background-color: #8d2b00 !important;
    border-style: none;
    border-color: #8d2b00;
}

.EventButton:focus {
    background-color: #8d2b00;
    border-style: none;
    border-color: #8d2b00;
}
