.Form {
    border: none;
    border-bottom: 2px #8d2b00 solid;
  }
  
  .Button {
    border: none;
    background-color: #8d2b00;
    color: #fafafa;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: #fafafa;
    color: #8d2b00;
  }