.Post {
    background-color: #fffbf8;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #8d2b00;
  }
  
  .Heart:hover {
    color: #8d2b00;
  }
  
  .HeartOutline:hover {
    color: #8d2b00;
  }